.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 1.5rem;
  background-color: var(--component-bg);
}

.brand {
  font-size: 3rem;
  font-family: var(--font-display);
}