.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 1rem;
  background-color: var(--component-bg);
}

@media screen and (min-width: 48rem) {
  .footer {
    padding: 1.5rem;
  }
}

.brand {
  font-size: 3rem;
  font-family: var(--font-display);
  margin-right: 1rem;
}