<div class="section__wrapper">
  <section class="section">
    <h2 class="section__title">ABOUT</h2>

    <div class="section__body">
      <p>A diner-style bar and restaurant with a passion for eggs, Au Cheval elevates
       traditional diner fare. Guests can indulge in dishes ranging from chopped 
       chicken liver and roasted bone marrow, to traditional sandwiches, egg-focused 
      entrees, and the signature cheeseburger. The bar program showcases strong, classic 
      cocktails including the Horse’s Neck, Vieux Bonal, and Hemingway’s Daiquiri. 
      A robust draught beer list offers a wide range of neighborhood, domestic, 
      and international selections. The dimly lit restaurant, pulsating with a vintage 
      reel-to-reel soundtrack, features dark leather booths, dark wood paneling, and 
      a zinc bar wrapped around the open kitchen.</p>
    </div>
  </section>
</div>