<div class="section__wrapper">
  <section class="section">
    <div class="section__body">
      <p>Redoris does not accept reservations. We welcome guests on a first 
        come first serve basis. <br>
        We are a cozy restaurant and accept parties of 1-4 guests. We do not have a private 
        dining room or event space.</p>
    </div>
  </section>
</div>